:root{
    --corAzulContainer: #304268;
    --corBranco:  #ffffff;
    --corAzulClaroLinha: #91BED4;
    --corCinzaClaroBox:  #f5f5f5;
    --corAzulBotao: #323C59;
    --corCinza: #CCCCCC;
    --corAzulMarinho: #363636;
    --corAzulClaro: #29AAE3;
}

*{
    margin: 0 !important;
}
body{
    background-color: #ffffff;
}
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
body::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 10px;
}
/* HEADER */
.navbar{
    background: #304268;
}
@media (min-width:1800px){
    .navbar{
        height: 10vh;
    }
 }
.navbar a{
    font-size: clamp(0.7rem, 1.4vw, 2.8rem);
    color: var(--corCinzaClaroBox)
}
.navbar a:active{
    color: whitesmoke !important;
}
.navbar i{
    cursor: pointer;
    font-size: clamp(1.2rem,3vw,5rem);
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: 0 0 5px var(--corCinza) !important;
}
.navbar-toggler-icon{
    background-image: url(../icons/option.svg) !important;   
}

/* CARD DE PERFIL */
.profile-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.profile-card{
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    display: none;
    position: absolute;
    top: 100%;
    left: -500%;
    width: 200px;
    height: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    animation: revelCard 0.15s linear 0s 1 normal;
}
@keyframes revelCard {
    0%{transform: scale(0.5) translate(180px, -200px);}
    50%{transform: scale(0.75);}
    100%{transform: scale(1) translate(0,0);}
}
.profile-card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-card i{
    color: #304268 !important;
    font-size: 3.5rem !important;
}
.profile-card h2{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #29AAE3;
    font-size: 1rem;
    font-weight: bold;
}
.profile-card p {
    font-weight: 600;
}
.profile-card a{
    text-decoration:none;
    color: #3c6af5;
}
.profile-card a:hover{
    text-decoration:underline;
}

.profile-card button{
    border-radius: 50px !important;
    font-size: 15px;
}

#closeCard {
    display: block;
    margin: 10px 0 0;
    padding: 5px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

/* SEÇÃO 1 */
div.main{
    min-height: 100vh;
}
div#sec1{
    padding: 0 !important;
    height: clamp(24vh,50vw,50vh);
    overflow: hidden;
}
div.carousel-item{
    transition: none !important;
}
div.background{
    filter: brightness(0.6) contrast(1);
    padding: 0 !important;
    height: clamp(24vh,50vw,50vh);
    background-image: url(./Imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.9s ease-in-out;
}
.carousel-caption {
    position: absolute;
    top: 30% !important;
    right: none !important;
    bottom: none !important;
    left: 5% !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #fff;
    text-align: start !important;
}

/* INPUT */
.form-control:focus{
    border-color: none !important;
    box-shadow: none !important;
    border: 1px solid #3c6af5 !important;
}

/* AREA DE CARDS */
#secCatalogo{
    background-color: white;
    box-shadow: 
    0 0px 30px rgba(182, 182, 182, 0.5) inset, /* sombra do topo para o centro */
    0 0px 30px rgba(189, 189, 189, 0.5) inset; /* sombra do fundo para o centro */}

#containerCardsMax{
    height: 90vh !important;
    overflow-y: scroll;
    border-radius: 10px;
}
#containerCardsMax::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
#containerCardsMax::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
#containerCardsMax::-webkit-scrollbar-thumb {
    background: #677191;
    border-radius: 10px;
}
.container-card{
    transform: scale(0.9);
    width: clamp(150px,100%,350px) !important;
    margin-bottom: 1rem !important;
}
.card{
    background: linear-gradient(to bottom, #677191 0%, #83a1ce 25%, whitesmoke 65%);
    padding: 5px;
    height: 100% !important;
}
.card-body{
    padding: 6px 3px 4px 7px !important;
    display: grid !important;
    flex-direction: column !important;
}
.card img{
    border-radius: 3px !important;
    width: clamp(150px, 50%,200px);
    margin: 0 auto !important;
}
.card-title{
    font-size: 17px !important;
    color:#323C59 !important;
    font-weight: 900 !important;
    margin-bottom: 4px !important;
}
.card-text{
    margin-bottom: auto !important;
    font-size: 13px !important;
    margin-bottom: 4px !important;
}
.card button , .btn-primary{
    align-self: flex-end !important;
    height: 30px !important;
    width: 35% !important;
    padding: 6px !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    background-color:#323C59 !important;
    border:none !important;
}

/* SUGESTOES */
#containerSugestao{
    padding-top: 1rem !important;
    height: clamp(270px, 50vw, 400px);
    background-color: #91BED4;
}
#capsulaSugestao{
    padding: 0.5rem 12px 1rem 12px;
    width: 50%;
    background-color: #304268;
    border-radius: 15px;
    flex-direction: column;
}
#capsulaSugestao h1{
    font-weight: 700;
    color: #f5f5f5;
}
#capsulaSugestao textarea{
    padding: 5px 8px 5px 8px;
    border-radius: 10px;
    width: 85%;
    height: clamp(100px,15vw,170px);
}
#capsulaSugestao button{
    border-radius: 20px;
    height: 33px !important;
    background-color: #eecb7e !important;
    align-self: center !important;
    font-size: 12px !important;
}

/* SOBRE NÓS */
.tituloSobreNos{
    font-weight: 600;
    font-size: clamp(1.2rem, 3vw,2rem);
}
.txtSobreNos{
    font-weight: 500;
    font-size: clamp(0.7rem,2vw,1rem);
}

/* FOOTER */
#footer{
    margin-top: 0 !important;
    height: 60px;
    display: flex;
    background-color: #304268;
    color: #f5f5f5;
}
#footer #copy{
    justify-self: end;
}


/* RESPONSIVIDADE */
@media (max-width:576px){
    #logo{
        width: 55px;
    }
    .profile-card{
        top: 100%;
        left: 15%;
        height: 220px;
    }
    @keyframes revelCard {
        0%{transform: scale(0.5) translate(-150px, -180px);}
        50%{transform: scale(0.75);}
        100%{transform: scale(1) translate(0,0);}
    }
    .input-group{
        width: 70% !important;
    }
    .container-xxl{
        padding: 0 5px !important;
    }
    .container-card{
        margin-bottom: 0 !important;
        transform: scale(0.95);
        width: 100% !important;
        padding: 0 !important;
    }
    .card{
        transform: scale(0.9);
        border-radius: 4px !important;
        display: flex !important;
        flex-direction: row !important;
        width: 100%;
    }
    .card-title{
        padding: 5px;
        font-size: 18px !important;
        max-height: 50px;
        overflow: scroll;
        color:#323C59!important;
    }
    .card-text{
        padding: 5px;
        max-height: 130px;
        overflow: scroll;
    }
    .card a{
        align-self: end;
    }
    .card button, .btn-primary{
        width: 100% !important;
    }
    #capsulaSugestao{
        width: 90%;
    }
    #capsulaSugestao textarea{
        width: 95%;

    }
    #capsulaSugestao button{
        width: 60% !important;
    }
}
@media (min-width:576px) and (max-width:999px){
    .profile-card{
        top: 100%;
        left: -800% !important;
        width: 200px !important;
        height: 250px !important;
        transform: scale(0.9);
    }
}
@media (min-width:576px) and (max-width:1900px){
    .input-group{
        width: 25% !important;
    }
    #containerCardsMax{
        transform: scale(0.96);
    }
}
@media (min-width:1901px){
    .input-group{
        max-width: 20% !important;
        height: 2.3vw;
        max-height: 6rem;
    }
    .form-control{
        font-size: 1.5rem !important;
        font-weight: bold;
    }
    .input-group-text{
        justify-content: center;
        width: 10% !important;
        max-height: 6rem;
    }
    .bi-search{
        transform: scale(1.5);
    }
    #capsulaSugestao{
        width: 40%;
    }
    #footer{
        height: 70px;
    }
}
.expandBox{
    flex-direction: column !important;
}
body {
    font-family: Arial, sans-serif;
}

